**/cnn/
**/__pycache/
**/.ipynb_checkpoints/
**/version2/CNN_with_summary.csv
**/version2/data_cleaned1.csv
**/dati/cnn/
**/notebook_version/models/bidirectional/10epochs/saved_model
**/notebook_version/models/monodirectional/10epochs/saved_model